body{
    font-family: Arial, sans-serif;
    background: url(https://www.colorhexa.com/177053.png);
}
nav{
    width: 100%;
    height: 60px;
    background: #27C894;
    position: fixed;
    border-bottom: 1px solid #B0E73E;
}
.logo{
    color:#fff;
    font-size:28px;
    line-height: 60px;
    padding-left: 300px;
    float: left;
}
.menu{
    float: left;
    padding-left: 400px;
}
.menu li{
    float: left;
    margin-right: 40px;
    line-height: 60px;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
}
main{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/Turtle.jpg) 100% 100%/ auto auto no-repeat;
    border-bottom: 1px solid #B0E73E;
    margin-bottom: -42px;
}
.title_container{
    float: left;
    margin: 250px 0px 0px 200px;
    color: #fff;
    text-align: center;
}
.title_container h1{
    font-size: 70px;
    font-weight: bold;
    color: #9FD039;
    text-shadow: #4B621C 3px 5px 25px;
}
.title_container h4{
    margin-top: 14px;
    font-size: 30px;
    color: #86AF31;
    text-shadow: #384A14 3px 5px 25px;
}
.title_container input{
    height: 40px;
    width: 100px;
    text-align: center;
    border: 2px solid;
    background: none;
    color: #86AF31;
    border-radius: 5px;
    border-color: #86AF31;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:8px;
}
.green{
    font-size: 50px;
    text-align: center;
    color: #9FD039;
    text-shadow: #384A14 3px 5px 25px;
    margin-bottom: 30px;
}
.white{
    font-size: 50px;
    text-align: center;
    color: #fff;
    text-shadow: #000 3px 5px 25px;
    margin-bottom: 30px;
}
.miniPic{
    border: 5px;
    border-color: #86AF31;
    border-radius: 100px;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background: url(../img/Turtle.jpg) no-repeat -250px;
    margin-left: auto;
    margin-right: auto;
}
.about_me span{
    display: block;
    color: #666;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}
.about_me input{
    height: 40px;
    width: 150px;
    text-align: center;
    border: 2px solid;
    background: none;
    color: #fff;
    border-radius: 5px;
    border-color: #fff;
    font-size: 15px;
    margin-left: 45%;
    margin-top:8px;
}
.about_me{
    background-color: #27C894;
    padding-bottom: 15px;
    border-bottom: 1px solid #B0E73E;
    padding-top: 20px;
}
.wic li img {
    max-height: 50px;
    max-width: 50px;
}
.wic li{
    float: left;
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    color: #86AF31;
}
.wic h3{
    font-size: 30px;
}
.what_i_can{
    padding-top: 20px;
    height: 250px;
    border-bottom: 1px solid #B0E73E;
}
.cases{
    padding-top: 20px;
    background-color: #27C894;
    height: 725px;
    border-bottom: 1px solid #B0E73E;
}
.cases h3{
    margin-left: 25%;
    color: #fff;
    font-size: 30px;
}
.cases h4{
    margin-left: 25%;
    font-size: 20px;
    color: #666;
}
.cases .cases_h4_1{
    margin-right: 25%;
    text-align: center;
    color: #fff;
}
.google{
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
    height: auto;
}
.cases_descr{
    margin-left: 23%;
}
.price{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #B0E73E;
}
.price h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 33%;
    color: #86AF31;
}
.price select{
    margin-left: 33%;
    background: none;
    width: 500px;
    height: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    color: #94AA66;
    border: 2px solid;
    border-radius: 5px;
    border-color: #86AF31;
}
.price h4{
    color: #86AF31;
    font-size: 20px;;
    margin-left: 33%;
}
.statistics{
    padding-top: 20px;
    border-bottom: 1px solid #B0E73E;
    padding-bottom: 10px;
    height: 200px;
    background-color: #27C894;
}
.statistics li{
    float: left;
    margin-left: 8%;
    margin-right: auto;
}
.statistics h3 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.statistics h4{
    text-align: center;
    font-size: 25px;
    color: #666;
}
.reviews{
    border-bottom: 1px solid #B0E73E;
    padding-top: 20px;
    padding-bottom: 15px;
}
.reviews h4{
    text-align: center;
    color: #86AF31;
    font-size: 20px;
}
.miniPic2{
    background: url(../img/Puffer_Fish.png) no-repeat -50px;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 100px;
    margin-left: calc(50% - 100px);
}
.contacts{
    background-color: #27C894;
}
.contacts>h4{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.contacts ul{
    margin-left: 32.5%;
    height: 20px;
    width 100%;
}
.contacts li{
    float: left;
    text-align: center;
    margin-right: 200px;
    color: #666;
}
.contacts h3{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#name {
    margin-left: 40%;
}
.inp{
    background: none;
    border: 2px solid #fff;
    border-radius: 7px;
}
.message{
    background: none;
    margin-top: 5px;
    margin-left: 40%;
    border: 1px solid #fff;
    border-radius: 7px;
}
.send{
    margin-top: 3px;
    margin-left: 49%;
    background: none;
    padding: 3px 2px 3px;
    border: 2px solid #fff;
    border-radius: 7px;
    color: #666;
    margin-bottom: 10px;
}
.map{
    width: 100%;
    height: 145px;
    background: url(../img/map.png) no-repeat;
    background-size: contain;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #666;
}
menu li a:active{
    transform: scale(2);
}
.title_container input{
    transition: all 0.2s;
}
.title_container input:hover{
    background-color: #27C894;
    color: white;
}